

<h2> Books for Sale</h2>

<table>
    <tr>
        <th>Title</th>
    </tr>
<% @books.each do |x| %>
    <tr>
    <td><%= x.title %></td>
    </tr>
<% end %>
</table>

<br/>
<%= link_to "delete", @book, method: :delete %>

<br />

    <a href="/">Add Book Posting</a>
<br/>

