

<h1> Books for Sale</h1>


<% @books.each do |x| %>
    <p><%= x.title %></p>
<% end %>
<br/>
<%= link_to "delete", @book, method: :delete, data: { confirm: "You sure?" } %>

<br />

    <a href="/">Add Book Posting</a>
<br/>

