

<h2> Books for Sale</h2>


    
    
<% @books.each do |x| %>
    
    <%= x.title %>

<% end %>


<br/>
<%= link_to "delete", @book, method: :delete %>

<br />

    <a href="/">Add Book Posting</a>
<br/>

