

<h2> Books for Sale</h2>

<table border="1">
    <tr>
        <th>Title</th>
        <th>ISBN</th>
    </tr>
<% @books.each do |x| %>
    <tr>
        <td><%= x.title %></td>
        <td><%= x.isbn %></td>
    </tr>
<% end %>


<br/>
<%= link_to "Delete Post", @book, method: :delete %>

<br />

    <a href="/">Add Book Posting</a>
<br/>

