/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

 @import "bootstrap";
 
 body {
    background-color: 	#ffffff;
    background-image: image-url("bodybooks.jpg");
    background-size:cover; 
    background-repeat:no-repeat;
    background-attachment:fixed;
    text-align: center;
    min-height: 400px;
   margin-bottom: 100px;
   clear: both;

}

#better {
    background-color: #ffffff;
    padding: 14px 16px;
    margin: auto;
    border-radius: 25px;
    border: 2px;
    padding: 20px; 
}


form {
    text-align: left;
}

h2 {
    padding: 16px;
}

/* Add a  background color to the top navigation */
.topnav {
    background-color: #00286d;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 3px solid transparent;
}

div.spaceitout {
    padding: 25px 0px;
}

.topnav a:hover {
    border-bottom: 3px solid blue;
}


div.jumbotron {
    background-image: image-url("book.jpg");
    background-size:cover; 
    background-repeat:no-repeat;
    background-attachment:fixed;
    height:100%;
    text-align:left;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:0;
    
}

.page-footer {
    background: #00286d;
    color: white;
    position: block;
    right: 0;
    bottom: 0;
    left: 0;
    height: 40px;
    vertical-align: middle;

}



.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

.apple_pagination {
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 1em;
  cursor: default; }
  .apple_pagination a, .apple_pagination span {
    padding: 0.2em 0.3em; }
  .apple_pagination .disabled {
    color: #aaaaaa; }
  .apple_pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #bebebe;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
  .apple_pagination a {
    text-decoration: none;
    color: black; }
    .apple_pagination a:hover, .apple_pagination a:focus {
      text-decoration: underline; }
 

