// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
    background-color: #fffcc0;
}

h1,h2,p,th,td {
    font-family: "Helvetica", sans-serif;
    color: #000000;
}

a{
    font-family: "Helvetica", sans-serif;
    color: #0250f7;
}